
#traichu {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-l) var(--spacing-m) var(--spacing-m) var(--spacing-m);
    row-gap: var(--spacing-l);
    width: 20rem;
}

header {
    animation: fade 1s ease-in;
    display: none;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: center;
    padding: var(--spacing-m) var(--spacing-m) 0 var(--spacing-m);
    position: absolute;
    top: 0;
    width: 100%;
}

#date-time,
#weather { flex: 1 1 auto; }

#weather { text-align: right; }

#weather img {
    display: inline-flex;
    margin-right: var(--spacing-xs);
    width: 1.5rem;
}

#date,
#location {
    color: var(--primary-link-hover-color);
    font-weight: 700;
}

#time,
#details {
    color: var(--primary-link-color);
    text-transform: capitalize;
}

#details {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.separator { margin: 0 var(--spacing-xs); }
